<html>
<head>
<title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="main.css">
<body>
    <div class="loginbox">
    <img src="logo.png" class="avatar">
        <h1>Login Here</h1>
        <form>
            <input type="text" name="" placeholder="Username">
            <input type="password" name="" placeholder="Password">
            <input type="submit" name="" value="Login">
            <a href="#">Lost your password?</a><br>
            <a href="#">Don't have an account?</a>
        </form>

    </div>

</body>
</head>
</html>
