<html>
<head>
<title>Login Form</title>
    <link rel="stylesheet" type="text/css"  href="{{url_for('static', filename='login.css')}}">
</head>
<body>

    <div class="loginbox">
    <img src="static/logo.png" class="avatar">
        <h1>Login Here</h1>
        <form>
            <input type="text" name="" placeholder="Username">
            <input type="password" name="" placeholder="Password">
            <input type="submit" name="" value="Login">
            <a href="#">Lost your password?</a><br>
            <a href="#">Don't have an account?</a>
        </form>

        </div>

</body>
</html>
