<html>
<head>
<title>Jucy Login</title>
    <link rel="stylesheet" type="text/css"  href="{{url_for('static', filename='login.css')}}">
<style>

body{
    background: url("{{url_for('static', filename='bg.jpg')}}") no-repeat center center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
</style>
</head>
<body>
            <div class="loginbox">
            <img src="{{url_for('static', filename='logo.png')}}"class="avatar">
                <h1>Login Here</h1>
                 <form name = "login"  method="POST" onsubmit="truefun();">
                    <input type="text"  name="username" placeholder="Username">
                    <input type="password" name="password" placeholder="Password">
                    <input type="submit"value="Login"></br>
                    <a href="/reset" method="post">Forgot Password?</a></br>
                    <a href="/signup">Don't have an account?</a>
                </form>

  
          </div>
        <script> 
            var usr = document.forms["login"]['username'].value;
            var pass = document.forms['login']["password"].value;
            function truefun(){
            if (usr == "") {
                document.forms['login']['username'].style.borderColor = "red";
                }
            else if (pass == ""){
                document.forms['login']["password"].style.borderColor = "red";
            }
            
            }

            function showpass(){
       
                    var shoqpass = document.forms['login']['password'];
                    if (shoqpass.type === "password") {
                        shoqpass.type = "text";
                    } else {
                        shoqpass.type = "password";
                    }
                
            }

        </script>
        </body>

</html>