<html>
<head>
<title>Jucy Login</title>
    <link rel="stylesheet" type="text/css"  href="{{url_for('static', filename='login.css')}}">
<style>

body{
    background: url("{{url_for('static', filename='bg.jpg')}}") no-repeat center center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
</style>
</head>
<body>
            <div class="loginbox">
            <img src="{{url_for('static', filename='logo.png')}}"class="avatar">
                <h1>Login Here</h1>
                <form>
                    <input type="text" name="" placeholder="Username">
                    <input type="password" name="" placeholder="Password">
                    <input type="submit" name="" value="Login"></br>
                    <a href="/reset" method="post">Forgot Password?</a></br>
                    <a href="/signup">Don't have an account?</a>
            </form>
          </div>
    </body>
    </html>
