<html>
<head>
<title>Reset Password</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='reset.css')}}">
<style>

body{
    background: url("{{url_for('static', filename='bg.jpg')}}") no-repeat center center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
</style>
</head>
<body>
            <div class="loginbox">
            <img src="{{url_for('static', filename='logo.png')}}" class="avatar">
            <h1>Reset Password</h1>
                <form>
                    <input type="text" name="" placeholder="New Password">
                    <input type="password" name="" placeholder="Confirm Password"><br>
                    <input type="submit" name="" value="Reset">
                    <a href="/">Remember password now?</a>
            </form>
          </div>
    </body>
    </html>
