<html>
<head>
<title>Signup Form</title>
    <link rel="stylesheet" type="text/css" href="main.css">
<body>
    <div class="loginbox">
    <img src="logo.png" class="avatar">
        <h1>Login Here</h1>
        <form>
            <input type="text" name="" placeholder="Username">
            <input type="password" name="" placeholder="Password">
            <input type="email" name="" placeholder="Email">
            <input type="age" name="" placeholder="Age">
            <input type="submit" name="" value="Signup">
            <a href="#">Already have an account?</a>
        </form>

    </div>

</body>
</head>
</html>
